.twitter {
  background-color: #1da1f2;
}

.facebook {
  background-color: #3b5998;
  width: 54px;
  text-align: center;
}

.youtube {
  background-color: red;
}
.social {
  padding: 10px;
  margin: 10px;
  border-radius: 100%;
}

a {
  color: #f8f8f8;
  text-decoration: none;
}
