.twitter {
  background-color: #1da1f2;
}

.facebook {
  background-color: #3b5998;
  width: 54px;
  text-align: center;
}

.youtube {
  background-color: red;
}
.social {
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  border-radius: 100%;
}
